<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>PhoneSimulator</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>dashboard1</servlet-name>
		<jsp-file>/WEB-INF/jspfiles/dashboard.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>dashboard1</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>header1</servlet-name>
		<jsp-file>/WEB-INF/jspfiles/header.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>header1</servlet-name>
		<url-pattern>/header</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>footer1</servlet-name>
		<jsp-file>/WEB-INF/jspfiles/footer.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>footer1</servlet-name>
		<url-pattern>/footer</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>displaycontact</servlet-name>
		<jsp-file>/WEB-INF/jspfiles/displayContact.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>displaycontact</servlet-name>
		<url-pattern>/display</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>insertJsp</servlet-name>
		<jsp-file>/WEB-INF/jspfiles/insert.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>insertJsp</servlet-name>
		<url-pattern>/insert</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>RegisterJsp</servlet-name>
		<jsp-file>/WEB-INF/jspfiles/register.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterJsp</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>SearchContact1</servlet-name>
		<jsp-file>/WEB-INF/jspfiles/searchContact.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchContact1</servlet-name>
		<url-pattern>/searchContact</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>delete1</servlet-name>
		<jsp-file>/WEB-INF/jspfiles/delete.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete1</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>update1</servlet-name>
		<jsp-file>/WEB-INF/jspfiles/update.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>update1</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updatejsp</servlet-name>
		<jsp-file>/WEB-INF/jspfiles/updatepage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatejsp</servlet-name>
		<url-pattern>/updatepage</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>aboutjsp1</servlet-name>
		<jsp-file>/WEB-INF/jspfiles/about.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>aboutjsp1</servlet-name>
		<url-pattern>/aboutjsp</url-pattern>
	</servlet-mapping>


</web-app>